.hline2
#footer
  #contact_box.b360
    %h2 Hola, puedes contactarnos!
    %ul
      %li
        %span.hl1 Email:
        info@cloverinteractive.com
      %li
        %span.hl1 Skype:
        cloverinteractive

  #proposal_box.b360
    %h2 Envianos tu propuesta
    %p
      Nos encantaría trabajar contigo, envianos un
      = link_to "mensaje", "/contacto/hablemos-de-negocios.html"
      para iniciar tu proyecto!
  #call_us_box.b360
    %h2 Llamanos
    %ul
      %li
        %span.hl1 Desde US:
        6194892425
      %li
        %span.hl1 Desde MX:
        6642311374
#footer2
